#map {
    height: 400px;
    width: 100%;
    position: absolute;
    }


#panel-total{
    position: relative;
    top: 400px;
    }

#info{
    position: relative;
    top: 400px
}

#elevation_chart {
    width: 100%;
    position: relative;
    top: 400px;
}

#elevation_chart2 {
    width: 100%;
    position: relative;
    top: 400px;
}

#formulario {
    position: relative;
    top: 400px;
}

#profilebuttons {
    position: relative;
    top: 400px;
}

table, th, td {
  border: 1px solid black;
}

body {
    background-color: white;
    text-align: center;
    padding: 0%;
    margin: 0%}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: midnightblue;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
   }

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    }

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    }

h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 500;
    text-align: left;
    font-size: 25px;
    font-style: italic;
    }

h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 200;
    text-align: left;
    font-size: 10px;
    font-style: italic;
  }

  h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 200;
    text-align: center;
    font-size: 10px;
    font-style: italic;
  }
  .info {
    position: relative;
  }

  .info img {
    width: 20px;
    margin-left: 10px;
  }

  .info p {
    top: 20px;
    opacity: 0;
    right: 10px;
    z-index: 1000;
    min-width: 300px;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.2s linear;
  }

  .info:hover p {
    opacity: 1;
    pointer-events: initial;
  }

  .info-box {
    display: flex;
    align-items: center;
  }
